@charset "UTF-8";

#wrap {
margin: auto;
width : 80%;
}
#reply-warp {
width : 70%;
}  
ul {
list-style: none;

}
ul > li{
display: inline-block;
}
textarea {
resize: none;
}
.reply-input {
display : block;
}

.btn-Reply {
position: relative;
left: 150px;
} 